<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/edit-post-form.css" />
    <title>Edit post form</title>
  </head>
  <body>
    <div class="main-container">
        <div class="left-container">
          <div class="nav-var-container">
            <div class="homeBtn-container"><a href="/applants">Home</a></div>
            <div class="allPosts-container">
              <a href="/applants/posts/<%=post._id%> ">Back</a>
            </div>
          </div>
          <div class="logo-container">
            <div class="logo"><h1>applants</h1></div>
          </div>
        </div>
  
        <div class="right-container">
          <div class="header-container">
            <div class="header-title-container"><h2>Edit <%= post.user[0].user  %>'s  post</h2></div>
          </div>
  
  
          <div class="form-container">
              
            <form action="/applants/posts/<%=post._id%>/edit?_method=PUT" method="POST">
               
  
              <div class="location-container">
                <label for="location">Location:</label>
                <input autocomplete="off"
                autocorrect="off"
                autocapitalize="none"
                spellcheck="false" id="location" type="text" name="location"
                value="<%= post.location %> "
                />
               
              </div>
  
             
              <div class="caption-container">
                <label for="caption">About your plant:</label>
                <input autocomplete="off"
                autocorrect="off"
                autocapitalize="none"
                spellcheck="false" id="caption" type="text" name="caption" 
                value="<%= post.caption  %> "
                />
              </div>
  
              <div class="scientific-name-container">
                <label for="scientificName">Scientific Name:</label>
                <input autocomplete="off"
                autocorrect="off"
                autocapitalize="none"
                spellcheck="false" id="scientificName" type="text" name="scientificName"
                value="<%= post.details.scientificName  %> "
                />
              </div>
  
              <div class="age-conatiner">
                <label for="age">how old is your plant?</label>
                <input autocomplete="off"
                autocorrect="off"
                autocapitalize="none"
                spellcheck="false"id="age" type="number" name="age"
                value="<%= post.details.age %> "
                />
              </div>
  
              <div class="petname-container">
                <label for="petname">Petname</label>
                <input autocomplete="off"
                autocorrect="off"
                autocapitalize="none"
                spellcheck="false"id="petname" type="text" name="petname"
                value="<%= post.details.petname %> "
                />
              </div>
  
              <div class="origin-container">
                <label for="originalFrom">Origin</label>
                <input autocomplete="off"
                autocorrect="off"
                autocapitalize="none"
                spellcheck="false"id="originalFrom" type="text" name="originalFrom" 
                value="<%= post.details.originalFrom %> "
                />
              </div>
  
              <div class="care-container">
                <label for="care">Care:</label>
                <input autocomplete="off"
                autocorrect="off"
                autocapitalize="none"
                spellcheck="false"id="care" type="text" name="care" 
                value="<%= post.details.care  %> "
                />
              </div>
  
              <div class="button-container">
                <button id="submitBtn" type="submit">Edit post</button>
              </div>
          </div>
       
            </form>
        </div>
         
        </div>
      </div>
  </body>
</html>
